<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap1.css">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../">Studi</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
             <div class="collapse navbar-collapse" id="navcol-1" style="float:right">
                <ul class="nav navbar-nav">
                    <li id="delete-note" class="active">
                        <a href="#">현재 노트 삭제</a>
                    </li>
                </ul>
            </div> 
        </div>
    </nav>

    <div id="notes">
        <div id="quiz" v-if="isOk">
            <div class="quiz-top-box" style="width:100%;margin:0px 50px;text-align:left">
                    <label><input  type="checkbox" style="width:30px" :true-value="1" :false-value="0" v-model="currentOptions.imp">중요</label>
            </div>
            <div id='collapse-btn' data-toggle="collapse" data-target="#collapseContent" aria-expanded="false" aria-controls="currentClauseContent">
                <!-- <input type="text" v-bind:value="currentClauseId"> -->
                <input id="clause-title" type="text" v-bind:value="currentClauseTitle" readonly>
            </div>
            <div class="collapse" id="collapseContent">
                <textarea class="" v-bind:value="currentClauseContent" readonly>
                    </textarea>
            </div>

            <div id="quiz-bottom-box" style="position:fixed; bottom:0px;width : 100%">
                <div class="und-btn">
                   <input type="text" v-bind:value="currentOptions.und">
                        <label for="und_0"><input id="und_0" type="radio" name="selectedOptions" :checked="currentOptions.und == 0"  v-bind:value="0" v-on:click="checkUnd">이해못함</label>
                        <label for="und_1"> <input  id="und_1" type="radio" name="selectedOptions"  :checked="currentOptions.und == 1" v-bind:value="1"  v-on:click="checkUnd">보통 </label>
                        <label for="und_2"><input  id="und_2" type="radio"name="selectedOptions" :checked="currentOptions.und == 2" v-bind:value="2"  v-on:click="checkUnd">이해함 </label>
                </div>
                <div>
                    <label for="timer">
                        <input type="number" v-bind:value="totalTime" style="width:100px;" readonly> 초 </label>
                </div>
                <div>
                    <div class="btn-group" role="group">
                        <button class="btn btn-default" v-on:click="prev" type="button">이 전</button>
                        <button class="btn btn-default" v-on:click="next(currentClauseId)" type="button">다 음</button>
                    </div>
                </div>
            </div>

        </div>
        <div id="survey" v-else>
            <div id="title-box">
                <span style="margin:0px 5px;">주제 </span>

                <input id="title" type="text" style="width:80%;/*float:right;*/margin:0px 13px;" v-bind:value="title">
            </div>
            <div>
                <div class="radio">
                    <label>
                        <input type="radio" name='options' v-bind:value="1" :checked="checkPoint == 1" v-on:click="checkSurveyPoint">전체 보기</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name='options' v-bind:value="2" :checked="checkPoint == 2" v-on:click="checkSurveyPoint">중요한 것만 보기</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name='options' v-bind:value="3" :checked="checkPoint == 3" v-on:click="checkSurveyPoint">아는 것만 보기</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name='options' v-bind:value="4" :checked="checkPoint == 4" v-on:click="checkSurveyPoint">애매하게 아는 것만 보기</label>
                </div>
                <div class="radio">
                    <label>
                        <input type="radio" name='options' v-bind:value="5" :checked="checkPoint == 5"  v-on:click="checkSurveyPoint">모르는 것만 보기</label>
                </div>
            </div>
            <div>
                <span>타이머</span>
                <input type="number" v-model="timer" style="width : 100px" >
                <span>초</span>
            </div>
            <div>
                <button id="start" class="btn btn-default" type="button" v-on:click="start">시작</button>
            </div>
        </div>
    </div>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/File-Input---Beautiful-Input--Button-Approach-Jasny-Bootstrap.js"></script>
    <script src="../static/js/vue.min.js"></script>
    <script src="../static/js/component/vueComponent.js"></script>
    <script src="../static/js/note.js"></script>
</body>

</html>