#start {
    width : 90%;
    margin : 5%
}

#survey {
    padding: 10px;
    text-align: center
}

#survey .radio {
    line-height: 30px
}
.radio {
    height: 30px;
}

#title-box {
    text-align: center
}

#quiz div{
    text-align: center;
    padding : 10px;
}

#quiz input,textarea{
    line-height: 25px;
    text-align: center;
    width : 90%
}

#quiz textarea{
    height: 300px
}

#quiz button{
    width : 200px;
    height : 35px;
    text-align: center
}

#quiz-bottom-box .und-btn input{
    width: 100px;
    height : 35px;
    text-align: center;
}
