#start {
    width : 90%;
    margin : 5%
}

#survey {
    padding: 10px;
    text-align: center
}

#survey .radio {
    line-height: 30px
}
.radio {
    height: 30px;
}

#title-box {
    text-align: center
}

#quiz div{
    text-align: center;
    padding : 10px;
}

#quiz #collapseContent p{
    text-align: initial;
    padding : 0 5%;
}

#collapse-btn div{
    font-weight: 600;
    font-size: 16px;
}

#quiz input,textarea{
    line-height: 25px;
    text-align: center;
    width : 90%
}

#quiz textarea{
    height: 300px
}

#quiz button{
    width : 100px;
    height : 35px;
    text-align: center
}

#quiz .btn-group button {
    margin : 0 5px;
}

#quiz-bottom-box .und-btn input{
    width: 50px;
    height : 25px;
    text-align: center;
}

.next-item {
    float: right;
}